.register__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.register__title {
    text-align: center;
    margin: 30px 0 50px;
}

.register__input {
    width: 300px;
}

.register__error {
    text-align: center;
    height: 1em;
    width: 300px;
    color: #fd6d6d;
}

.register__buttons {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.register__login_box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}