.textInput__wrapper {
    margin: 5px 10px;
}

.textInput__label {
    color: white;
    font-size: 10px;
}

.textInput__area {
    outline: none;
    background: none;
    border: none;
    padding-bottom: 3px;
    border-bottom: white 1px solid;
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #4b4e6d inset;
    -webkit-text-fill-color: white;
}

.error_text {
    color: #c76767;
}

.error_input {
    border-color: #c76767;
}