.superRadio__wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.superRadio__wrapper:hover .superRadio__span {
    color: #84DCC6;
}

.superRadio__input {
    appearance: none;
    position: relative;
    padding-left: 22px;
}

.superRadio__input_not_select:before {
    content: '';
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.superRadio__input_select:before {
    content: '';
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #84DCC6;
    border: white 3px solid;
    border-radius: 50%;
    cursor: pointer;
}

.superRadio__span {
    color: white;
    cursor: pointer;
    line-height: 16px;
}